* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

img {
    max-width: 100%;
}

#mainContainer {
    position: relative;
    margin-left: 15%;
    width: 70%;
    height: 99vh;
    top: 0;
    bottom: 0;
    left: 0;
}

.sidebar {
    position: absolute;
    width: 15%;
    height: 100vh;
    background: #7B7D7F;
    overflow: hidden;
    box-shadow: #333 2px 2px 4px;
}

.sidebar-header {
    text-align: center;
    color: #DDE2E5;
    background: #3E3F40;
    border: solid 2px black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2vw;
    height: 5%;
    margin: 0;
}

#task-sidebar {
    top: 0;
    bottom: 0;
    left: 0;
}

#task-container {
    overflow-y: auto;
    height: 80%;
}

#thread-sidebar {
    top: 0;
    bottom: 0;
    right: 0;
}

#thread-container {
    overflow-y: auto;
    height: 80%;
}

#thread-controls {
    height: 10%;
}

#task-controls {
    height: 10%;
}

.filter-box {
  width: 95%;
  margin: 2.5%;
}

.filter-text {
  width: 92.5%;
  border-radius: 4px;
}

.thread-control-button {
    margin: 2.5%;
    width: 95%;
    height: 70%;
    border: 1px solid black;
    border-radius: 4px;
    background: #DDE2E5;
    color: #515354;
}

.task-control-button {
    margin: 2.5%;
    width: 95%;
    height: 70%;
    border: 1px solid black;
    border-radius: 4px;
    background: #DDE2E5;
    color: #515354;
}

.thread-control-button:hover{
    color: black;
    border: 2px solid black;
}

.task-control-button:hover{
    color: black;
    border: 2px solid black;
}

#accordion .ui-accordion-header{
    background: #DDE2E5;
    border: 1px solid black;
}

#taskbar {
    position: absolute;
    top: 0;
    right: 0;
}

.taskbar-button {
    font-size:0.9em;
    color: gray;
    width: 4em;
    height: 3em;
    border: 0px solid transparent;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.taskbar-button:hover {
    color: black;
}

.addTask {
    height: 10vh;
    background: #F6FBFF;
    border: 3px #000 solid;
    margin: 1%;
    border-radius: 25%;
    background-clip: content-box;
    position: relative;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
    vertical-align: middle;
    line-height: 10vh;
}

.addThread {
    height: 10vh;
    background: #F6FBFF;
    border: 3px #000 solid;
    margin: 1%;
    border-radius: 25%;
    background-clip: content-box;
    position: relative;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
    vertical-align: middle;
    line-height: 10vh;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer;
}

g.conceptG.running circle{
    fill: #ffff66;
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer;
}

g.conceptG.paused circle{
    fill: #ff944d;
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer;
}

g.conceptG.success circle{
    fill: #85e085;
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer;
}

g.conceptG.failed circle{
    fill: #ff8080;
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.conceptG.running:hover circle{
    fill: #ffff00;
}

g.conceptG.paused:hover circle{
    fill: #ff751a;
}

g.conceptG.success:hover circle{
    fill: #33cc33;
}

g.conceptG.failed:hover circle{
    fill: #ff0000;
}

g.selected circle{
    fill: rgb(200, 238, 241);
    stroke-width: 3px;
}

g.selected.running circle{
    fill: #ffff00;
    stroke-width: 3px;
}

g.selected.paused circle{
    fill: #ff751a;
    stroke-width: 3px;
}

g.selected.failed circle{
    fill: #ff0000;
    stroke-width: 3px;
}

g.selected.success circle{
    fill: #33cc33;
    stroke-width: 3px;
}

g.concetpG:active circle {
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}

path.link.breakpoint {
    stroke: #FF0000;
}

path.link.breakpoint.selected {
    stroke: rgb(229, 172, 247);
}

.popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 8px;
    font-family: arial, helvetica, sans-serif;
}

.property-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.required-property {
    background-color: #ff0000;
}

.task-property-label {
    width: 50%;
    margin: auto;
    position: relative;
    display: inline-block;
}

.task-property-element {
    width: 50%;
    margin: auto;
    position: relative;
}

#task-toggle-icon {
    color: #DDE2E5;
    position: absolute;
    margin: .25%;
    top: 0;
    left: 0;
}

#thread-toggle-icon {
    color: #DDE2E5;
    position: absolute;
    margin: .25%;
    top: 0;
    right: 0;
}

#zoom-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1%;
}

#logging-toggle-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1%;
}

#tabs {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 5%;
    width: 98%;
    height: 25%;
    border: 1px solid black;
    overflow-y: scroll;
    font-family: arial, helvetica, sans-serif;
    font-size: .5vw;
    background: #FFFFFF;
}

.contextMenuButton {
    margin: 1%;
    width: 48%;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background: #DDE2E5;
    color: #515354;
}

.contextMenuButton:hover {
    color: black;
}
