<!doctype html>
<title>{% block title %}Axios Breakfast Page{% endblock %}</title>
<div>

<link rel=icon href="{{ url_for('static', filename='imgs/favicon.ico') }}">

<link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/brecky.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap-datepicker3.standalone.min.css') }}">


<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>

</div>

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<form action="/logout" method="POST">
  <input type="button" name="logout">
</form>
{% endif %}
{% endblock %}
