
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  background-color:  #eff5f5;
}

ul.NavigationBar li {
  float: left;
  border-right: 1px solid #bbb;
}
ul.NavigationBar {
  background-color: #30445d;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.NavigationBar li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: block;
  text-align: center;
}

.active {
  background-color: #405B7D;
}
.ReactTable .rt-noData {

  z-index: auto !important;
}

.ReactTable .rt-resizer {
  z-index: auto !important;
}
.chart-legend{
  height:50px !important;
  overflow:auto;
}
