.Instance-header {
  background-color: #405B7D;
  height: 50px;
  padding: 5px;
  color: white;
}

.Instance-title {
  font-size: 1.5em;
}

.Instance-table {
  text-align: center;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}
