.Instance-header {
  background-color: #405B7D;
  height: 50px;
  padding: 5px;
  color: white;
}

.Instance-title {
  font-size: 1.5em;
}

.Instance-table {
  text-align: center;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.ReactTable .rt-thead {
  overflow-y: auto;
}

.JSON-display{
  text-align: left;
  display: grid;
  grid: 50%/ 660px 660px;
  grid-gap: 10px;
  padding-top: 10px;
}

.JSON-file{
  height: 350px;
  border: 1px solid gray;
  overflow-y: scroll;
}
