.SettingsButton{
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}

.settingsMainButton {
  background-color: #30445d;
  border: none;
  color: white;
  padding: 6px 8px;
  font-size: 24px;
  cursor: pointer;
}

.InitialBorder h2 {
  background: #31455d;
  color: white;
  font-family: inherit;

}

.SettingsStyle h3 {
  color: #333333;
  font-family: inherit;
}
.SecondBorder{
  background: white !important;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;


}
.bottomSectionTable{
  width: 75%;
  float: left;
  padding: 0;
}

.bottomSectionButtons{
  width: 25%;
  float: left;
  padding-top: 80px;
  text-align: -webkit-right;
  text-align: -moz-right;
}
.Cancel {
  width: 25%;
  float:right;
  text-align: -webkit-right;
  text-align: -moz-right;
}

.CancelButton{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  display: block;
  width: 80%;
  color: white;
  background-color: #d9534f;
  border-color: #d43f3a;
  cursor: pointer;
  margin-top: 10px;
}

.SaveButton{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  display: block;
  width: 80%;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
  cursor: pointer;
  margin-top: 10px;
}


#outer-Table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-spacing: 0;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px
}

#outer-Table th:first-child {
    border-top-left-radius: 6px;
}
#outer-Table th:last-child {
    border-top-right-radius: 6px;
}

#outer-Table tr:first-child td:first-child{
  border-bottom-left-radius: 6px;
}

#outer-Table tr:first-child td:last-child{
  border-bottom-right-radius: 6px;
}

#outer-Table td, #outer-Table th, #outer-Table tr{
  border: 1px solid #ddd;

}

#outer-Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #405B7D;
    color:  white;
}
#outer-Table  td{
  vertical-align: baseline;
  padding: 0;

}

#inner-table tbody {
  display: block;
  height: 105px;
  border-spacing: 0;
  overflow-y: auto;

}
#inner-table td {
  width: 130px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
#inner-table tr:nth-child(even){background-color: #f2f2f2;}

#inner-table tr:hover {background-color: #ddd;}
