.SettingsButton{
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}
.settingsMainButton {
  background-color: #30445d;
  border: none;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
}
button.settingsMainButton{
  outline: none;
}
.InitialBorder h2 {
  background: #31455d;
  color: white;
  font-family: inherit;
}
.SettingsStyle h3 {
  padding: 0;
  margin: 0;
}
.SecondBorder{
  background: white !important;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
}
.settingContainer{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}
.GeneralHeader{
    background: #405B7D;
    color: white;
    text-align: center;
    border-radius: 5px;
    height: 19px;
}
.GraphHeader{
  grid-column-start: 2;
  grid-column-end: 4;
  background:  #4e6f97;
  color: white;
  text-align: center;
  border-radius: 5px;
  height: 19px;
}

.TableHeader{
  grid-column-start: 1;
  grid-column-end: 4;
  background: #6889b1;
  color:white;
  text-align: center;
  border-radius: 5px;
  height: 19px;
}
.row2-col1, .row2-col2, .row2-col3 {
  margin-bottom: 20px;
}
.loadsDefault, .Save, .Cancel {
  margin-top: 10px;
}
.loadsButton{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  display: block;
  width: 100%;
  color: white;
  background-color: #a7a1a1;
  border-color: #9e9898;
  cursor: pointer;
  margin-top: 10px;
}
.SaveButton{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  display: block;
  width: 100%;
  color: white;
  background-color: #85b385;
  border-color: #75bd75;
  cursor: pointer;
  margin-top: 10px;
}
.CancelButton{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  display: block;
  width: 100%;
  color: white;
  background-color: #d9534f;
  border-color: #d43f3a;
  cursor: pointer;
  margin-top: 10px;
}
#outer-Table {
  table-layout: fixed;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-spacing: 0;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px
}

#outer-Table th {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#outer-Table tr, #outer-Table td{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#outer-Table td, #outer-Table th, #outer-Table tr{
  border: 1px solid #b5b0b0;

}
.row2-col1 #outer-Table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #405B7D;
    color:  white;
}
.row2-col2 #outer-Table th, .row2-col3 #outer-Table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4e6f97;
    color:  white;
}
.row4-col1 #outer-Table th, .row4-col2 #outer-Table th, .row4-col3 #outer-Table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:  #6889b1;
    color:  white;
}
#outer-Table  td{
  vertical-align: baseline;
  padding: 0;

}
#inner-table tbody {
  display: block;
  height: 105px;
  border-spacing: 0;
  overflow-y: auto;

}
#inner-table td {
  width: 144px;
  border-color: transparent;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
#inner-table tr:nth-child(even){background-color:  #e6e6e6 }

#inner-table tr:hover {background-color: #bfbfbf;}
